<appSettings>

  <add key="CompanyName" value="Dublin City County Council" />

  <!--M.App Enterprise Info-->
  <add key="TenantName" value="public" />
  <add key="WMSURL" value="https://dubwebdemo1-v/api/v1/geoservices/wms/" />
  <!--<add key="MapName" value="PlanApp" />-->
  
    <!--Authentication Info-->
    <add key="authUrl" value="https://dubwebdemo1-v/api/v1/oauth2/token" />
    <add key="userName" value="public" />
    <add key="password" value="public" />
	<add key="FreeTextTable" value="PlanningMaster"/>
    <add key="FreeTextColumn" value="Plan_Ref"/>
    <add key ="PlanningAppFullName" value="[DCC_MAPZONE].dbo.[PlanningMaster]"/>
	<add key ="FreeTextDatabase" value="DCC_MAPZONE"/>


  <add key="MasterEnterpriseDatabaseConnection" value="Provider=SQLOLEDB;Data Source=DUBWEBDEMO1-V\ENTERPRISE;Initial Catalog=ENTERPRISE_MASTER;User ID=sa;Password=sa2017*;" />
  <add key="ToolTipUrl" value="http://webapps.dublincity.ie/swiftlg/apas/run/WPHAPPDETAIL.DisplayUrl?theApnID={Parameter}"/>

  <!--Development Tags-->

  <!--ensure this is empty when used in production-->
  
  

    <!--Authentication Info-->

  

  
  <!--Development Tags-->
  <add key="ReplaceLOCALHOST" value="" />
  
</appSettings>